*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

body{
    height: 820vh;
    position: relative;
    box-sizing: border-box;
}
#studioName{
    width: 70%;
    padding-left: 120px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 999;
    animation: slideRight 1s ease;
}

/* **Styling for all <em></em> elements** */
h5 em{
    color: #ed563b;
    margin-left: -55px;
}
em{
    color: #ed563b;
}

/* **Nav section styling starts** */
nav{
    position: fixed;
    width: 100%;
    height: 75px;
    background: rgba(233, 210, 210, 0.515);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    animation: slideDown 1s ease;
}

nav ul{
    display: flex;
    float: right;
    margin-right: 200px;
    list-style: none;
}
nav ul li{
    font-size: 12px;
    font-weight: 500;
    padding-top: 15px;
    margin: 2rem;
    text-align: right;
    transition: 0.3s;
    color: white;
    animation: slideLeft 2.5s ease;
    cursor: pointer;
}
nav ul li:hover{
color: #ed563b;
}
nav ul a{
    font-size: 12px;
    width: 80px;
    height: 30px;
    position: absolute;
    right: 100px;
    top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    background-color: #ed563b;
    animation: slideLeft 2.5s ease;
    transition: all 0.3s ease-in-out;
}
nav ul a:hover{
    background-color: #ffffff;
    color: #232d39;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    
}


/* Nav section - keyframes starts */
@keyframes slideDown {
    from{
        transform: translateY(-100px);
    }

    to{
        transform: translateY(0);
    }
}

@keyframes slideDown2 {
    from{
        transform: translateY(-100px);
        opacity: 0;
    }

    to{
        transform: translateY(0);
        opacity: 100%;
    }
}

@keyframes slideRight {
    from{
        transform: translateX(-100px);
    }

    to{
        transform: translateX(0);
    }
}

@keyframes slideLeft {
    from{
        transform: translateX(100px);
    }

    to{
        transform: translateX(0);
    }
}

@keyframes rotate {
    from{
        transform: rotateX(0);
    }

    to{
        transform:rotateX(360deg);
    }
}

/* **Nav section & keyframes ends** */

/* **Video section styling starts** */
.videoContainer{
    position: relative;
    height: 100vh;
    width: 100%;
    background: rgba(19, 21, 29, 0.854);
}
#bg-video{
    position: absolute;
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover;
    z-index: -1;
}
.videoContainer .videoContainer-txt{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.videoContainer-txt h6{
    position: absolute;
    top: 32.7%;
    left: 80%;
    font-size: 17px;
    font-weight: 900;
    width: 100%;
    height: 20px;
    color: white;
    animation: slideDown2 3s ease;
}
.videoContainer-txt h5{
    position: absolute;
    top: 40%;
    left: 40%;
    font-size: 74px;
    font-weight: 900;
    width: 100%;
    height: 100px;
    color: white;
    animation: slideRight 2s ease;
}
.videoContainer-txt em{
    position: absolute;
    left: 640px;
    font-size: 74px;
    font-weight: 900;
    width: 10%;
    height: 100px;
    color: #ed563b;
    
}
.videoContainer a{
    position: absolute;
    top: 60%;
    left: 43%;
    font-size: 15px;
    font-weight: 600;
    width: 180px;
    height: 50px;
    color: rgb(249, 249, 249);
    text-decoration: none;
    background: #ed563b;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .6s;
    animation: fadeIn 3s ease;
    border-radius: 10px;
}
.videoContainer a:hover{
    background-color: #ffffff;
    color: #232d39;
    transition: all .6s;
}

/* **All video section styling ends** */


/* keyframes for choose program & css styling down to section four starts */

@keyframes slideLeft {
    from{
        transform: translateX(500px);
    }

    to{
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 100%;
    }
}

@keyframes slideRight {
    from{
        transform: translateX(-500px);
    }

    to{
        transform: translateX(0);
    }
}
.section-two{
    position: relative;
    width: 100%;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.section-two h3{
    position: absolute;
    top: 43%;
    font-size: 27px;
    font-weight: 900;
    animation: slideRight 2s ease;
}
.section-two img{
    position: absolute;
    top: 60%;
    animation: fadeIn 3s ease;
}

.section-two p{
    position: absolute;
    text-align: center;
    top: 70%;
    color: #7a7a7a;
    animation: slideLeft 2s ease;
}
.section3-grid{
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    height: 500px;
    padding: 20px;
}
.subsection1{
    padding: 65px;
    transition: all 0.3s ease-in-out;
    width: 80%;
    border-radius: 10px;
    margin: 20px;
}
.subsection1:hover{
    box-shadow: rgb(203, 58, 58) 0px 0px 45px;
    transition: all 0.3s ease-in-out;
}
.subsection1 img{
    float: left;
    margin-right: 30px;
    transition: all 0.3s ease-in-out;
}
.subsection1 img:hover{
    box-shadow: rgb(196, 196, 196) 15px 10px 5px;
    transition: all 0.3s ease-in-out;
}
.content1{
    display: inline-block;
}
.content1 h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.content1 p{
    display: flex;
    color: #7a7a7a;
    margin-bottom: 10px;
}
.content1 a{
    text-decoration: none;
    color: #ed563b;  
    font-size: 15px;
}

/* Section Four Starts */

.section-four{
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 50px;
    background: url(./Assets/cta-bg.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-four .section3-content{
    width: 100%;
    height: 150px;
    text-align: center;
}
.section3-content h6{
    font-size: 35px;
    font-weight: 900;
    color: white;
}
.section3-content h5{
    font-size: 17px;
    font-weight: 400;
    color: white;
}

.section-four a{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60%;
    text-decoration: none;
    color: white;
    font-size: 15px;
    width: 180px;
    height: 50px;
    border-radius: 10px;
    background: #ed563b;
    transition: all 0.3s ease-in-out;
}
.section-four a:hover{
    background-color: #ffffff;
    color: #232d39;
    transition: all 0.3s ease-in-out;
}
/* **"css styling down to section four ends"** */


/* **"Our Classes starts"** */

.section-five{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 6rem;
    height: 150vh;
}
.content1-1{
    position: absolute;
    top: 0;
    width: 100%;
    height: 250px;
    grid-column: 1 / span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
}
.content1-1 h3{
    position: absolute;
    left: 47%;
    font-size: 25px;
    font-weight: 900;
    
}
.content1-1 img{
    position: absolute;
    top: 62%;
    left: 53%;
}
.content1-1 p{
    position: absolute;
    font-size: 15px;
    font-weight: 600;
    color: #7a7a7a;
    top: 74%;
    left: 38%;
}
.section-five .content2{
    grid-row: 2 / span 3;
    position: relative;
    padding-left: 5rem ;
}
.content2 ul{
    list-style: none;
}

.tab-index{
    width: 100%;
    margin-bottom: 30px;
    display: inline-block;
    
}
li a{
    text-transform: capitalize;
    width: 100%;
    padding: 20px 20px;
    margin-bottom: 30px;
    margin-right: 5px;
    display: inline-block;
    text-decoration: none;
    background-color: #ed563b89;
    border-radius: 5px;
    font-size: 13px;
    color: black;
    letter-spacing: 0.5px;
    font-weight: 600;
    transition: all 0.3s;
}
li a:hover{
    box-shadow: 0px 0px 15px;
}
li a img{
    max-width: 100%;
    margin-right: 10px;
    transition: all 0.1s ease-in-out;
}
li a img:hover{
    box-shadow: #ed563b 10px 5px 5px;
    transition: all 0.1s ease-in-out;
}
.last-btn{
    margin-top: 20px;
    width: 89%;
    display: flex;
    position: absolute;
    
}
.last-btn a{
    text-decoration: none;
    text-align: center;
    padding: 20px 30px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 15px;
    color: #fff;
    font-size: 19px;
    font-weight: 600;
    border-radius: 10px;
    background-color: #ed563b;
    transition: all 0.3s ease-in-out;
    margin-top: -30px;
}
.last-btn a:hover{
    background-color: #ffffff;
    color: #232d39;
    transition: all 0.3s ease-in-out;
}

.picture-stack{
    grid-column: 2 / span 3;
    grid-row: 2 / span 3;
}
.picture-stack .first-picture1{
    display: block;
}
.first-picture1 img{
    max-width: 100%;
    overflow: hidden;
    border-radius: 5px;
}
.first-picture1 h2{
    font-size: 23px;
    font-weight: 700;
    color: #232d39;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    margin-top: 30px;
}
.first-picture1 p{
    font-size: 14px;
    color: #7a7a7a;
    margin-bottom: 28px;
}
.first-picture1 a{
    display: inline-block;
    font-size: 15px;
    padding: 12px 20px;
    border-radius: 10px;
    background-color: #ed563b;
    color: #fff;
    text-align: center;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}
.first-picture1 a:hover{
    background-color: #ffffff;
    font-weight: 550;
    font-size: 14px;
    border: 2px solid rgba(0, 0, 0, 0.485);
    color: #232d39;
    transition: all 0.2s ease-in-out;
}

.picture-stack .first-picture2{
    display: none;
}

.picture-stack .first-picture3{
    display: none;
}

.picture-stack .first-picture4{
    display: none;
}
/* **"Our Classes ends"** */


/* **"Table styling starts"** */

#schedule{
    position: relative;
}
.section-six{
    width: 100%;
    height: 150vh;
    background-image: url(./Assets/schedule-bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.section-six .section-six1{
    width: 40%;
    height: 150px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 30%;
    top: 40px;
}
.section-six1 h2{
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 15px;
}
.section-six1 img{
    margin-bottom: 15px;
}
.section-six1 p{
    color: white;
    font-size: 16px;
    font-weight: 500;
}

#schedule .col-lg-12{
    position: absolute;
    top: 29%;
    left: 35%;
}

#schedule .filters{
    margin-top: 20px;
    margin-bottom: 40px;
}
#schedule-filter ul{
    text-align: center;
    padding: 0;
}
#schedule .filters ul li.active, #schedule .filters ul li:hover {
    color: rgb(237, 86, 59);
}

#schedule .filters ul li {
    display: inline;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    list-style: none;
    transition: all 0.3s ease-in-out 0s;
}
#schedule .filters ul li::after {
    content: "/";
    margin-left: 10px;
    color: #ed563b;
}
*, ::after, ::before {
    box-sizing: border-box;
}

#schedule .col-lg-10{
    position: absolute;
    width: 80%;
    top: 38%;
    left: 10%;
}

#schedule table {
    width: 100%;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    position: absolute;
}
table {
    border-collapse: collapse;
    display: table;
    text-indent: initial;
    border-spacing: 2px;
}

#schedule table tbody {
    border-top: 1px solid rgb(255, 255, 255);
}
#schedule table tbody tr {
    border-bottom: 1px solid rgb(255, 255, 255);
}

#schedule table tbody tr td {
    height: 100px;
    border-right: 1px solid rgb(255, 255, 255);
}
#schedule table tr td {
    color: rgb(255, 255, 255);
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 0.25px;
}
.schedule-table.filtering .ts-item.show {
    opacity: 1;
    transition: all 0.5s ease 0s;
}
.schedule-table.filtering .ts-item {
    opacity: 0;
    transition: all 0.5s ease 0s;
}

/* **"Table styling ends"** */

/* **Styling for "our trainers" starts** */

#trainers{
    position: relative;
    margin-top: 25em;
    
}
#trainers .container{
    position: relative;
    width: 100%;
}

.row .section-heading {
    text-align: center;
    margin-top: 140px;
    margin-bottom: 80px;
}

.section-heading h2 {
    font-size: 28px;
    font-weight: 800;
    color: rgb(35, 45, 57);
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.section-heading h2 em {
    font-style: normal;
    color: rgb(237, 86, 59);
}
.section-heading img {
    margin: 20px auto;
}
p {
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    color: rgb(122, 122, 122);
}

.container .row2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    float: inline-start;
    margin: 1rem;
}
.row2 .trainer-item{
    background-color: rgba(212, 133, 133, 0.522);
    border-radius: 10px;
    padding: 30px;
    margin: 40px;
    transition: all 0.3s ease-in-out;
}
.row2 .trainer-item:hover{
    box-shadow: rgb(203, 58, 58) 0px 0px 45px;
    transition: all 0.3s ease-in-out;
}
.row2 img{
    display: block;
    width: 270px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.trainer-item .trainer-details{
    width: 100%;
}
.trainer-details h5{
    color: #f0735d;
    margin: 20px;
}
.trainer-details h3{
    margin: 20px;
}
.trainer-details p{
    size: 14px;
    line-height: 25px;
    color: rgb(0, 0, 0);
    margin: 20px;
}
.trainer-details .social-icons{
    display: flex;
    margin: 10px;
}

.social-icons i{
    margin: 10px;
    font-size: 15px;
}

/* **Styling for "our trainers" ends** */

/* **Styling for "Contact Us" starts** */

#contact-us {
    margin-top: 140px;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 600px;
}
                        
.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 600px;
}

.section{
    width: 100%;
    height: 101vh;
}
.contact-form{
    width: 50%;
    height: 100vh;
    float: right;
    background-image: url(./Assets/contact-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.contact-form form{
    width: 80%;
    height: 75vh;
    background: white;
    border-radius: 10px;
    padding: 40px;
    padding-left: 50px;
}

#name{
    position: absolute;
    width: 30%;
    height: 40px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid rgba(128, 128, 128, 0.575);
    color: rgb(122, 122, 122);
}

#email{
    position: absolute;
    width: 31.5%;
    height: 40px;
    left: 50%;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.575);
    color: rgb(122, 122, 122);
}

#subject{
    position: absolute;
    top: 29%;
    width: 65%;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.575);
    color: rgb(122, 122, 122);
}


#message {
    position: absolute;
    top: 40%;
    color: rgb(122, 122, 122);
    font-size: 13px;
    width: 65%;
    height: 200px;
    line-height: 40px;
    margin-bottom: 30px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.575);
}

#form-submit{
    position: absolute;
    bottom: 20%;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    background-color: #ed563b;
    border: none;
    font-size: 15px;
    color: white;
    transition: background-color .3s ease-out;
}
#form-submit:hover{
    background-color: #ffffff;
    color: #232d39;;
    transition: background-color .3s ease-out;
    border: 2px solid rgba(89, 86, 86, 0.686);
}
/* **Styling for "contact us" ends** */

/* Media Query for 768px */

@media only screen and (max-width: 768px){
    #studioName{
        font-size: 20px;
        width: 50%;
        padding-left: 12px;
    }
    nav ul li{
        padding-top: 1px;
        margin: 1rem;
    }
    nav ul a{
        top: 23px;
        right: 20px;
    }
    .videoContainer-txt h6{
        left: 50%;
    }
    .videoContainer-txt h5{
        font-size: 55px;
        font-weight: 900;
        left: 45%;
        text-align: center;
    }
    .videoContainer-txt em{
        font-size: 150px;
        font-weight: 900;
        left: 5%;
        top: 90%;
    }
    .videoContainer a{
        position: absolute;
        top: 90%;
        left: 35%;
        font-size: 15px;
        font-weight: 900;
    }

/* Section Two Starts */
    
    .section-two h3{
        top: 25%;
    }
    .section-two img{
        top: 40%;
    }
    
    .section-two p{
        top: 50%;
        font-size: 15px;
    }
    .section3-grid{
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
        display: grid;
        height: 500px;
        padding: 20px;
    }
    .subsection1{
        padding: 10px;
        transition: all 0.3s ease-in-out;
        width: 100%;
        border-radius: 10px;
        margin-top: -80px;
    }
    .subsection1:hover{
        box-shadow: rgb(203, 58, 58) 0px 0px 45px;
        transition: all 0.3s ease-in-out;
    }
    .subsection1 img{
        float: left;
        margin-right: 30px;
        transition: all 0.3s ease-in-out;
    }
    .subsection1 img:hover{
        box-shadow: rgb(196, 196, 196) 15px 10px 5px;
        transition: all 0.3s ease-in-out;
    }
    .content1{
        display: inline-block;
    }
    .content1 h4{
        font-size: 15px;
    }
    .content1 p{
        display: flex;
        line-height: 15px;
        font-size: 12px;
    }
    .content1 a{
        text-decoration: none;
        color: #ed563b;  
        font-size: 15px;
    }
    /* **"css styling for Section Two ends"** */

    /* Section Four Starts */

    .section-four{
        height: 300px;
    }
    .section3-content h6{
        font-size: 35px;
        font-weight: 900;
        color: white;
    }
    .section3-content h5{
        text-align: center;
        font-size: 13px;
    }

/* **"css styling down to section four ends"** */


    /* **"Our Classes starts"** */

.content1-0{
    display: none;
}
.section-five{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    height: 100vh;
    
}

.section-five .content2{
    margin-top: 40px;
    grid-row: 1 / span 2;
    position: relative;
    padding-left: 2rem;
}
.content2 ul{
    list-style: none;

}

li a{
    font-weight: 700;
}
li a:hover{
    box-shadow: 0px 0px 15px;
}

.picture-stack{
    margin-top: 40px;
    grid-column: 2 / span 3;
    grid-row: 1 / span 3;
}
.picture-stack .first-picture1{
    display: block;
}
.first-picture1 img{
    max-width: 90%;
    overflow: hidden;
    border-radius: 5px;
}
.first-picture1 h2{
    font-size: 23px;
    font-weight: 700;
    color: #232d39;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    margin-top: 30px;
}
.first-picture1 p{
    font-size: 14px;
    margin-bottom: 28px;
    margin-right: 20px;
}

.first-picture1 a:hover{
    box-shadow: #ed563b 10px 5px 5px;
}
/* **"Our Classes ends"** */
    
    
    /* **"Table styling starts"** */
    
    #schedule{
        position: relative;
    }
    .section-six{
        width: 100%;
        height: 150vh;
        background-image: url(./Assets/schedule-bg.jpg);
        background-position: center;
        background-size: cover;
        position: relative;
    }
    .section-six .section-six1{
        width: 45%;
        height: 150px;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        left: 25%;
        top: 30px;
    }
    .section-six1 h2{
        font-size: 25px;
        font-weight: 900;
        margin-bottom: 15px;
    }
    .section-six1 p{
        color: #ed563b;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 50px;
    }

    #schedule .col-lg-12{
        position: absolute;
        top: 29%;
        left: 16%;
    }
    
    /* **"Table styling ends"** */
    
    /* **Styling for "our trainers" starts** */
    
    #trainers{
        position: relative;
        margin-top: 22em;
    }
    .container .row2{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 7rem;
        float: inline-start;
        margin: 1rem;
        margin-top: -200px;
    }
    
    /* **Styling for "our trainers" ends** */
    
    /* **Styling for "Contact Us" starts** */
    
    #contact-us {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }
    
    .container-fluid {
        width: 100%;
        margin-bottom: 100px;
    }
    
    .mapouter {
        position: relative;
        text-align: right;
        height: 500px;
        width: 500px;
    }
    
    .gmap_canvas {
        margin-left: 20px;
        height: 500px;
        width: 600px;
    }

    .contact-form{
        width: 100%;
        height: 100vh;
        
    }
    .contact-form form{
        width: 80%;
        height: 75vh;
        background: white;
        border-radius: 10px;
        padding: 40px;
        padding-left: 20px;
    }
    
    #name{
        position: absolute;
        width: 30%;
        height: 40px;
        border-radius: 10px;
        padding: 5px;
        border: 1px solid rgba(128, 128, 128, 0.575);
        color: rgb(122, 122, 122);
    }
    
    #email{
        position: absolute;
        width: 31.5%;
        height: 40px;
        left: 47%;
        padding: 5px;
        border-radius: 10px;
        border: 1px solid rgba(128, 128, 128, 0.575);
        color: rgb(122, 122, 122);
    }
    
    #subject{
        position: absolute;
        top: 29%;
        width: 65.5%;
        height: 40px;
        padding: 5px;
        border-radius: 10px;
        border: 1px solid rgba(128, 128, 128, 0.575);
        color: rgb(122, 122, 122);
    }
    
    
    #message {
        position: absolute;
        top: 40%;
        color: rgb(122, 122, 122);
        font-size: 13px;
        width: 65.5%;
        height: 200px;
        line-height: 40px;
        margin-bottom: 30px;
        padding: 5px;
        border-radius: 10px;
        border: 1px solid rgba(128, 128, 128, 0.575);
    }
    
    #form-submit{
        position: absolute;
        bottom: 20%;
        width: 120px;
        height: 40px;
        border-radius: 10px;
        background-color: #ed563b;
        border: none;
        font-size: 15px;
        color: white;
        transition: all .3s ease-out;
    }
    #form-submit:hover{
        background-color: #ffffff;
        color: #232d39;;
        transition: all .3s ease-out;
        box-shadow: #ed563b 10px 5px 5px;
        border: 2px solid rgba(89, 86, 86, 0.686);
    }
}